@import url(https://fonts.googleapis.com/css?family=Over+the+Rainbow);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(colors.css);



header {
	
	background: url(../img/analogcomputer.jpg);
	background-size:100%;
	background-position:50%;
	min-height:200px;
	margin-bottom:25px;


}

.title-area li a{
	font-family: 'Gloria Hallelujah', cursive;
}



header h1 {
	color: white;
	font-weight: bold;

}

header h4 {
	color:white;
}



.shadow-border {
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
}