<!-- Main Navigation -->





<div class="fixed shadow-border">
    <nav class="top-bar" data-topbar role="navigation">
    	{% for course in site.data.courses | sort: 'title'%}
			{% if page.url contains course.url %}
				{% assign current_course = course.url %}
				{% assign current_course_name = course.title %}
			{% endif %}
		{% endfor %}
        <ul class="title-area">
            <li class="name">
                <h1>
                	<a href="{{ site.baseurl }}{{ current_course }}">{{ current_course_name }}</a>
        		</h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
        <!-- Right Nav Section -->
            <ul class="right">
				{% for node in site.pages %}
					{% if node.url contains current_course and node.url != current_course %}
						{% capture nodediff %}{{ page.url | remove:node.url }}{% endcapture %}
				<li {% if nodediff != page.url %}class="active" {% endif %}>
					<a href="{{ node.url }}">{{ node.title }}</a>
				</li>

					{% endif %}
				{% endfor %}
            
            </ul>

        <!-- Left Nav Section -->

        </section>
    </nav>
</div>