---
layout:     course-single-column
title:      Schedule
subtitle:   The stuff you need to do
course-name:    computer-applications-1
post-types:     calendar
---

<!-- Show most recent assignment -->

<div class="row">
    <div class="large-2 columns hide-for-small">
        <ul class="side-nav">
        {% for post in site.categories[page.course-name] reversed %}
            {% if post.categories contains page.post-types %}
            <li><a href="#{{post.title}}">{{post.title}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    </div>

    <div class="large-10 small-12 columns">


{% for post in site.categories[page.course-name] reversed %}
    {% if post.categories contains page.post-types %}
<a name="{{post.title}}"></a>
<div class="panel">
<div class="row">
    <div class="large-3 small-12 columns">
        <h2>{{post.title}}</h2>
        <h3><small>{{post.subtitle}}</small></h3>
    </div>
    <div class="large-1 hide-for-small columns">
    </div>
    <div class="large-8 small-12 columns">
        {{post.content}}
    </div>
</div>
</div>
{% endif %}
{% endfor %}

</div>
</div>