<!doctype html>
<html lang="en">
    <head>
<link rel="shortcut icon" href="{{ site.baseurl }}/icons/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/icons/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/icons/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/icons/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/icons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/icons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/icons/mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/icons/mstile-70x70.png">
<meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/icons/mstile-150x150.png">
<meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/icons/mstile-310x310.png">
<meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/icons/mstile-310x150.png">


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <!-- descriptive information about the document -->
        <title>{{site.name}} | {{ page.title }}</title>
        <meta name="description" content="Mr. Shafiei's classes">
        <meta name="author" content="Bobak Shafiei">
        
        <!-- set viewport behavior for mobile browsers -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
    
        <!-- stylesheets -->


    <!--    <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.css">  -->

    <!-- foundation.css is no longer needed when doing SASS? -->

    
        <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/iconic/iconic_stroke.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/iconic/iconic_fill.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation-icons/foundation-icons.css">
        <script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
        <script src="{{ site.baseurl }}/js/vendor/fastclick.js"></script>
        <script src="{{ site.baseurl }}/js/vendor/modernizr.js"></script>
        <script src="{{ site.baseurl }}/js/foundation.min.js"></script>
        
        
        <!-- web fonts -->
       <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,200italic,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    
    </head>
    
    
<body class="">


<!-- Main Content -->


